.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: snow;
    height: 80px;
    width: 150px;
}

.Button:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}